{% autoescape off %}
{% block body %}You're receiving this email because you requested a password reset for your account at {{ site_name }}.{% endblock %}

{% block text %}Please go to the following page and choose a new password:{% endblock %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% block username %}Your username, in case you've forgotten: {{ user.get_username }}{% endblock %}

{% block thanks %}Thanks for using our site!{% endblock %}

{% block signature %}The {{ site_name }} team{% endblock %}
{% endautoescape %}